@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}


.black-sans{
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .img-70{
    width: 70%;
  }

  .imagencarousel{
    height: 350px;
    object-fit: cover;
  }

  textarea{
    resize: none;
  }

  @media all and (min-width: 992px){
    .imagencarousel{
      height: 450px;
      object-position: 50% 30%;
    }
  }